html {
  --highlight: #fe921f;
  --headspace: 2rem;
}

@media only screen and (max-width: 480px) {
  html {
    --headspace: 0;
  }
}

body {
  --bg: white;
  --textNormal: #444;
  --textTitle: #444;
  --textLink: #fe921f;
  --hr: hsla(0, 0%, 0%, 0.2);
  --textHomeBlogLink: #666;

  background-color: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1c232a;
  --textNormal: #adb7bd;
  --textTitle: white;
  --textLink: #fe921f;
  --hr: hsla(0, 0%, 100%, 0.2);
  --textHomeBlogLink: #fe921f;
}

input {
  background: var(--bg);
  color: var(--textNormal);
  padding: 0.75rem;
  box-shadow: none;
  border: 1px solid #fe921f;
  border-radius: 0.2rem;
  transition: color 0.2s ease-out, background 0.2s ease-out,
    border 0.2s ease-out;
}

button {
  background: var(--bg);
  color: var(--textNormal);
  padding: 0.75rem;
  box-shadow: none;
  border: 1px solid #fe921f;
  border-radius: 0.2rem;
  transition: border 200ms;
}

input:focus,
button:focus,
a:focus {
  box-shadow: 2px 2px 6px 1px #fe921fb3;
  outline: 0;
}

blockquote {
  font-size: 24px;
  font-style: italic;
}

strong {
  font-weight: 900;
}

img {
  display: block;
  margin: auto;

  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 32px 32px 0px,
    rgba(0, 0, 0, 0.15) 0px 16px 16px 0px, rgba(0, 0, 0, 0.15) 0px 8px 8px 0px,
    rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}

blockquote {
  box-shadow: inset 3px 0 0 0 var(--highlight);
  margin-left: -20px;
  padding: 20px 20px 20px 40px;
}